nav {
    background-color: #333;
    padding: 15px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  li {
    margin-right: 20px;
    transition: transform 0.3s ease-in-out;
  }

  li:hover {
    transform: scale(1.2);
  }
  
  a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 35px;
    margin-right: 35px;
  }
  